@import url(../vendor/bootstrap/css/bootstrap.css);

.container-nav {
  padding-top:    10px;
  padding-bottom: 10px;
}

mark {
  padding: 0px;
}

/* fix the columns so the table doesn't jump as different containers
   with different string lengths are loaded */
td.id         { width: 10%; }
td.git        { width: 65%; }
td.timestamp  { width: 10%; }
td.status     { width: 14%; }

td.status .btn-group .btn:first-child {
  width: 110px;
}
